<!-- MENU -->
<div class="container">
    <div class="row">
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper white">
                <div class="left text-center">
                    <div style="font-size:42px; margin:15px 0px; font-weight:bold; font-family:Times;">
                        <span style="color:#E4001B;">CUBAN</span><span style="color:#1129FF;">E</span><span
                                style="color:#E4001B;">T</span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>


<div class="content container">

    {{APP_TEMPLATE_CODE}}

    <div class="row">
        <div class="col s12 text-center">
            <small>Tambien puedes visitar <a href="https://www.cubanet.org" target="_blank">cubanet.org</a></small>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="row center-align grey lighten-4" style="padding:20px 0px; margin-top:20px;">
    Apretaste &copy; <%= (new Date).getFullYear() %>. All rights reserved
    <br>
    <a href="#!" onclick="apretaste.send({'command':'SOPORTE'});">Soporte</a>
    &nbsp;&ndash;&nbsp;
    <a href="#!" onclick="apretaste.send({'command':'TERMINOS'});">T&eacute;rminos</a>
</div>


