<div class = "row">
	<div class = "col s12 m12 xl12">
		<h1><%= title %></h1>
		<p><%= description %></p>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<a class="btn-floating btn-large waves-effect waves-left green fab-align left" onclick = "apretaste.send({command:'CUBANET'})">
			<i class="material-icons">arrow_back</i>
		</a>
	</div>
</div>